<h3>District Search</h3>
<form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
  <input type="text" formControlName="districtName" placeholder="District Name">
  <br><br>
  <input type="number" formControlName="area" placeholder="Area(sq.mt)">
  <br><br>
  <input type="number" formControlName="population" placeholder="Population">
  <br><br>
  <input class="button" type="Submit" value="Save">
</form>
<br>
<div >
      <div>
        <div class="row border">
          <h3>Biggest District(Area Wise)</h3>
              <div class="col-2 m-1 pt-3 pb-0" *ngFor="let element of data">
                <div *ngIf="element.area == maxArea">
                  <button class = "btn btn-success" disabled="true">{{element.districtName}}</button>
              </div>
              <div *ngIf="element.area != maxArea">
                <button class = "btn btn-light" disabled="true">{{element.districtName}}</button>
              </div>
            </div>
        </div>
      
</div>
<div >
  <div>
    <div class="row border">
          <h3>Biggest District(Population Wise)</h3>
          <br>
          <div class="col-2 m-1 pt-3 pb-0" *ngFor="let element of data">
            <div *ngIf="element.population == maxPopulation">
              <button class = "btn btn-success" disabled="true">{{element.districtName}}</button>
          </div>
          <div *ngIf="element.population != maxPopulation">
            <button class = "btn btn-light" disabled="true">{{element.districtName}}</button>
          </div>
        </div>
    </div>
  
</div>
